/*Sage style variables*/
:root{
    --sage-bg-gray: #E3E7EC;
    --sage-bg-black: #1d252d;
    --primary-color: #5037F5;
    --primary-color-50: #eee7fe;
    --primary-color-100: #E4D8FF;
    --primary-color-300: #6753ec;
    --nav-shadow: 0px 30px 150px 10px rgba(0, 0, 0, 0.11);
    --sage-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.144);
    --title-font-size: 38px;
    --sage-font-size: 52px;
    --sage-font-weight: 700;
    --sage-padding: 0px 20px;
}
 

/* Enable smooth scrolling on the whole document*/
html {
   scroll-behavior: smooth;
}



/*Responsive mobile first view*/
*{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    position: relative;
    color: #1d252d;
    transition: all .8s;
}

a{
    text-decoration: none;
}





/*Submit button CSS styling*/
.submit-form{
    background-color: var(--primary-color);
    width: 100%;
    margin-top: 32px;
    padding: 14px;
    border-radius: 8px;
    box-shadow: 0px 5px 15px 2px rgba(0,0,0,0.10); 
    text-align: center;
    font-size: 14px;
    cursor: pointer;
    color: #ffffff;
}

.submit-form:hover{
    background-color: var(--primary-color-300);
    transition: all .4s;
}

.submit-form:active{
    background-color: var(--primary-color-300);
}





/* Error message styling */
.error-card-container{
    /* display: none; */
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    z-index: 99;
}

.error-card{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(215, 78, 78);
    padding: 16px;
}

.error-card img{
    height: 20px;
    width: 20px;
}

.error-card-message{
    color: #ffffff;
    margin-left: 12px;
    font-size: 14px;
}





/* Footer nav styling */
footer{
    background-color: var(--sage-bg-black); 
    width: 100%;
    position: relative;
    bottom: 0;
}

footer .footer-links{
    padding-top: 40px;
}

footer .footer-links li{
    display: block;
    margin: 16px 32px;
}

footer .footer-links li a{
    text-decoration: none;
    color: #ffffff;
}

footer .footer-links li a:hover{
    color: var(--primary-color-300);
    transition: all .3s;
}

.footer li a:active{
    color: var(--primary-color-300);
}

.footer-copyright{
    text-align: center;
    color: #c3c3c3;
    padding: 40px 0px;
    font-size: 14px;
}










 

/*Responsive Desktop view*/
@media only screen and (min-width: 768px){
    footer .footer-links li{
        margin: 15px 60px;
    }

    /*User form card styling*/
    .container{
        width: 600px;
        padding: 30px 40px;
        background-color: rgb(255, 255, 255);
        border-radius: 10px;
        box-shadow: 0 10px 25px rgba(0,0,0,0.10); 
    }

    /* Footer nav styling */
    footer .footer-links{
        display: flex;
        justify-content: center;
        gap: 64px;
    }

    footer .footer-links li{
        display: block;
        margin: 16px 32px;
    }
}



    
    
    
    
    
     
    
    
    
/*Responsive Tablet view*/
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    
}
    

    
    
    
    
    
    
    



/*Responsive Mobile Navbar view*/
@media only screen and (max-width: 768px) { 
    
}



    