/*Responsive mobile first view*/
body{
    height: 100vh;
    /* color: var(--sage-bg-black); */
}
 
.wrapper{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    padding: 40px;
    border-radius: 0px;
    width: 100%;
}

.sub-header{
    font-weight: 600;
    font-size: 24px;
    margin: 20px 0px;
}

.layout{
    width: 100%;
    margin-bottom: 15px;
}

.layout input{
    background-color: var(--sage-bg-gray);
    width: 100%;
    padding: 15px;
    padding-left: 20px;
    border-radius: 8px;
    font-size: 14px;
}

.layout input:focus{
    box-shadow: 0 0 0px 1px #5037F5;
    transition: all .5s;
}

.forgot-password{
    font-size: 14px;
    text-align: right;
    margin: 20px;
}

.forgot-password a{   
    text-decoration: none;
    color: #2a2a2a;
}

.redirect{
    margin: 30px 0px;
}

.redirect div{
    font-size: 14px; 
    text-align: center;
}

.redirect div a{
    margin-left: 10px;
    text-decoration: none;
    color: var(--primary-color);
    font-weight: 500;
}








 

/*Responsive Desktop view*/
@media only screen and (min-width: 768px){
    .wrapper{
        display: flex;
        align-items: center;
        background-image: url(../images/doctor-dark.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 500px;
        width: 100%;
        overflow: hidden;
        position: relative;
    }

    .brand-text{
        display: block;
        position: absolute;
        left: 60px;
        top: 60px;
        font-size: 24px; 
        font-weight: 500;
        color: #1d252d;
    }
    
    .vector-image{
        display: block;
        position: absolute;
        left: 60px;
        bottom: 50px;
    }
    
    .vector-image img{
        width: 90%;
    }

    .layout{
        width: 100%;
        margin-bottom: 25px;
    }
}


    
    
    
    
    
    
    
/*Responsive Tablet view*/
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .brand-text{
        display: none;
    }
    
    .vector-image{
        display: none;
    }
    
    .container{
        position: relative;
        right: 0;
    }
}
   