/*Responsive mobile first view*/
body{
    height: 100vh;
    /* color: var(--sage-bg-black); */
}

.wrapper{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    padding: 32px;
    border-radius: 0px;
    width: 100%;
}

.sub-header{
    font-weight: 600;
    font-size: 24px;
    margin: 20px 0px;
}

.layout{
    width: 100%;
    margin-bottom: 15px;
}

.layout input{
    background-color: var(--sage-bg-gray);
    width: 100%;
    padding: 15px;
    padding-left: 20px;
    border-radius: 8px;
    font-size: 14px;
}

.layout input:focus{
    box-shadow: 0 0 0px 1px #5037F5;
    transition: all .5s;
}

.register{
    background-color: var(--primary-color);
    width: 100%;
    margin-top: 32px;
    padding: 14px;
    border-radius: 8px;
    box-shadow: 0px 5px 15px 2px rgba(0,0,0,0.10); 
    text-align: center;
    font-size: 14px;
}

.redirect{
    margin: 30px 0px;
} 

.redirect div{
    font-size: 14px;
    text-align: center;
}

.redirect div a{
    margin-left: 10px;
    text-decoration: none;
    color: var(--primary-color);
    font-weight: 500;
}








 

/*Responsive Desktop view*/
@media only screen and (min-width: 768px){
    .wrapper{
        display: flex;
        align-items: center;
        background-image: url(../images/doctor-dark.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 500px;
        width: 100%;
        overflow: hidden;
        position: relative;
    }
}


    
    
    
    
    
    
    
/*Responsive Tablet view*/
@media only screen and (min-width: 768px) and (max-width: 1024px) {

}
    
