{% extends 'base.html' %}

{% load static %}

{% block custom_styles %}
<link rel="stylesheet" href="{% static 'css/admin-signup.css' %}">
{% endblock custom_styles %}


{% block main_body %}
    <body>
       <div class="admin-wrapper"> 
            <div class="admin-container">
                    <div class="sub-header">Counsellor Sign Up</div>

                    <form method="POST" action="{% url 'counsellor:register_counsellor' %}"> 
                        {% csrf_token %}
                        <div class="admin-form-section">
                            <div class="admin-image">
                                <img src="{% static 'favicon/upload-image.svg' %}" alt="upload Icon">
                            </div>
                            <div class="admin-form-title">Upload Profile Image</div>

                            <input name="avatar" type="file" id="myFile" name="filename">
                        </div>
 

                        <div class="admin-form-section">
                            <div class="admin-form-title">Personal Details</div>
                            <div class="layout">
                                <input name="first_name" type="text" placeholder="First Name"/>
                            </div>
                            <div class="layout">
                                <input name="last_name" type="text" placeholder="Last Name"/>
                            </div>
                            <div class="layout">
                                <input name="other_names"  type="text" placeholder="Other Names"/>
                            </div>
                        </div>
                        
                        <div class="admin-form-section">
                            <div class="admin-form-title">Security Details</div>
                            <div class="layout">
                                <input name="email"  type="email" placeholder="Counsellor Email"/>
                            </div>
                            <div class="layout">
                                <input name="phone" type="tel" placeholder="Mobile Number"/>
                            </div>
                            <div class="layout">
                                <input name="password" type="password" placeholder="Password"/>
                            </div>
                            <div class="layout">
                                <input name="confirm_password" type="password" placeholder="Password"/>
                            </div>
                        </div>
                         
                        <button class="submit-form">Register</button>
                        
                        <div class="redirect">
                            <div>
                                Already have an account?<a href="{% url 'counsellor:login_counsellor' %}">Login</a>
                            </div>
                        </div>
                </form>
            </div>
        </div>

        {% if error %}
            {% include 'includes/alert.html' %}
        {% endif %}
    </body>
{% endblock main_body %}
