{% extends 'base.html' %}

{% load static %}

{% block custom_styles %}
<link rel="stylesheet" href="{% static 'css/admin-login.css' %}">
{% endblock custom_styles %}

{% block main_body %}
    <body>
       <div class="wrapper">
          <div class="container">
                    <div class="sub-header">Counsellor Login</div>

                    <form method="POST" action="{% url 'counsellor:login_counsellor' %}">
                        {% csrf_token %}
                        <div class="layout">
                            <input name="email" type="email" placeholder="Email"/>
                        </div>

                        <div class="layout">
                            <input name="password" type="password" placeholder="Password"/>
                        </div>
                        
                        <div class="forgot-password"><a href="{% url 'counsellor:forgot_password' %}">Forgot password?</a></div>
                
                        <button  class="submit-form">Login</button>
                        
                        <div class="redirect">
                            <div>Don't have an account?<a href="{% url 'counsellor:register_counsellor' %}">Sign up</a></div>
                        </div>
                </form>
            </div>
        </div>


        {% if error %}
            {% include 'includes/alert.html' %}
        {% endif %}
    </body>
{% endblock main_body %}

    