{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>iCounsel</title>

    <link rel="icon" href="{% static 'favicon/logo.svg' %}" type="image/x-icon">
    <link rel="shortcut icon" href="{% static 'favicon/logo.svg' %}" type="image/x-icon">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
    {% block custom_styles %}
    {% endblock custom_styles %}
    <link rel="stylesheet" href="{% static 'css/global-style.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    
</head>
     

{% block main_body %}

{% endblock main_body %}

{% block custom_html %}{% endblock custom_html %}
</html>