{% extends 'base.html' %}

{% block main_body %}
<body>
    <div class="wrapper">
        <div class="container">
            <div class="sub-header">Confidential Form</div>
            
            <form>
                <div class="layout">
                    <input type="email" placeholder="Details"/>
                </div>
                <div class="layout">
                    <input type="email" placeholder="Details"/>
                </div>
                <div class="layout">
                    <input type="email" placeholder="Details"/>
                </div>
                <div class="layout">
                    <input type="email" placeholder="Details"/>
                </div>
                <div class="layout">
                    <input type="email" placeholder="Details"/>
                </div>
                <div class="layout">
                    <input type="email" placeholder="Details"/>
                </div>
                
                <a href="#">
                    <div class="submit-form">Submit</div>
                </a>
            </form>
        </div>
    </div>
</body>
{% endblock main_body %}

