{% extends 'base.html' %}
{% load static %}

{% block custom_styles %}
<link rel="stylesheet" href="{% static 'css/confidential.css' %}">
{% endblock custom_styles %}


{% block main_body %}
<body>
    <div class="confidential-wrapper"> 
        <form method="POST" action="{% url 'counsellor:confidential' %}">
            {% csrf_token %}

            <div class="confidential-container">
                    <div class="sub-header">Confidential Form</div>
                    <div class="user-filter">
                        <div class="confidential-form-title">Are you a student</div>
                        <div class="category-form">
                            <select required name="is_student" id="is_student" class="category-form-wrap">
                                    <option value="">Choose</option>
                                    <option value="Yes">Yes</option>
                                <option value="No">No</option>
                            </select>
                        </div>
                    </div>


                    <!-- Form for users who are students -->
                    <div class="student-form-container" id="student-form-container">
                        <div class="confidential-form-section">
                            <div class="confidential-form-title">Academic Details</div>
                            <div class="layout">
                                <input id="registration_number" name="registration_number" type="text" placeholder="Registration Number"/>
                            </div>
                            <div class="layout">
                                <input id="programme" name="programme" type="text" placeholder="Programme"/>
                            </div>
                            <div class="layout">
                                <input id="department" name="department" type="text" placeholder="Faculty/Department"/>
                            </div>
                            
                            <div class="category-form category-extra">
                                <select id="level" name="level" id="level" class="category-form-wrap" >
                                    <option value="">Choose</option>
                                    <option value="100">100</option>
                                    <option value="200">200</option>
                                    <option value="300">300</option>
                                    <option value="400">400</option>
                                    <option value="400">500</option>
                                    <option value="400">600</option>
                                </select>
                            </div>
                            <div class="layout">
                                <input name="residence" type="text" placeholder="Hall of Residence/Hostel"/>
                            </div>
                            <div class="layout">
                                <input name="home_phone" type="text" placeholder="Home Phone"/>
                            </div>
                        </div>
                    </div>

                    <!-- Form for users who are workers -->
                    <div class="worker-form-container" id="worker-form-container">
                        <div class="confidential-form-section">
                            <div class="confidential-form-title">Worker Details</div>

                            <div class="category-form category-extra">
                                <select hidden id="worker" name="worker" class="category-form-wrap" >
                                    <option value="">Choose</option>
                                    <option value="yes">Yes</option>
                                    <option value="no">No</option>
                                </select>
                            </div>

                            <div class="layout">
                                <input id="work_type" name="work_type" type="text" placeholder="Type of work"/>
                            </div>
                            <div class="layout">
                                <input id="organization" name="organization" type="text" placeholder="Name of organization"/>
                            </div>
                        </div>
                    </div>
                        
                    <!-- Form for both users and workers -->
                    <div class="confidential-form-section">
                        <div class="confidential-form-title">Emergency Details</div>
                        <div class="layout">
                            <input required name="emergency_person" type="text" placeholder="Emergency Contact Name"/>
                        </div>
                        <div class="layout">
                            <input required name="emergency_contact" type="number" placeholder="Emergency Contact Numer"/>
                        </div>
                        <div class="layout">
                            <input name="referrer" type="text" placeholder="Referrer"/>
                            <div class="layout-sub">Who we should thank for referring you.</div>
                        </div>
                        <div class="confidential-form-section">
                            <div class="confidential-form-title">Any previous Counselling?</div>
                            <div class="category-form category-extra">
                                <select required name="prev_counselling" id="user" class="category-form-wrap">
                                    <option value="">Choose</option>
                                    <option value="yes">Yes</option>
                                    <option value="no">No</option>
                                </select>
                            </div>
                        </div>
                        <div class="confidential-form-section">
                            <div class="confidential-form-title">Are you on any prescribed medication?</div>
                            <div class="category-form category-extra">
                                <select required name="on_medication" id="user" class="category-form-wrap">
                                    <option value="">Choose</option>
                                    <option value="yes">Yes</option>
                                    <option value="no">No</option>
                                </select>
                            </div>
                        </div>
                        <div class="confidential-form-section">
                            <div class="confidential-form-title">Guardian Details</div>
                            <div class="layout">
                                <input required name="guardian" type="text" placeholder="Guardian Name"/>
                            </div>
                            <div class="layout">
                                <input required name="guardian_phone" type="number" placeholder="Guardian Number"/>
                            </div>
                        </div>
                    </div>
                    
                    <!-- Form for submit button -->
                    <button class="submit-form">Submit Consent</button>
                </div>   
            </div>
    </form>
    </div> 
    
    {% if error %}
        {% include 'includes/alert.html' %}
    {% endif %}
</body>
{% endblock main_body %}

{% block custom_js %}
<script src="{% static 'js/consent-form.js' %}"></script>
{% endblock custom_js %}


