{% extends 'base.html' %}

{% block main_body %}
<body>
    <div class="wrapper">
        <div class="container">
            <div class="sub-header">Forgot Password</div>
            
            <form>
                <div class="layout">
                    <input type="email" placeholder="Student Email"/>
                </div>
                
                <div class="submit-form">Submit</div>
                
                <div class="redirect">
                    <div>I remember my password!<a href="{% url 'cousellor:login' %}">login</a></div>
                </div>
            </form>
        </div>
    </div>
</body>
{% endblock main_body %}

