{% extends 'base.html' %}

{% load static %}

{% block custom_styles %}
<link rel="stylesheet" href="{% static 'css/homepage.css' %}">
{% endblock custom_styles %}


{% block main_body %}

<body>
    <div class="homepage-nav">
        <div class="page-nav"> 
            <a href="{% url 'counsellor:index' %}" class="page-logo"><img src="{% static 'images/logo.png' %}" alt="logo"/></a>
            <div class="user-profile">Profile</div>   
        </div>
        <form class="searchbar" action="{% url 'counsellor:home' %}" method="GET">
            {% comment %} {% csrf_token %} {% endcomment %}
            <img src="{% static 'favicon/search.svg' %}" alt="search"/>
            <input type="search" name="q" placeholder="Search Categories" class="searchfield"/>
        </form>
        <div class="counsellor-types">
            <ul class="scrollmenu">
                {% if request.GET.category %}
                    <a style="color: inherit; text-decoration: none;" href="{% url 'counsellor:home'%}"> <li>All</li> </a>
                {% else %}
                    <a style="color: inherit; text-decoration: none;" href="{% url 'counsellor:home'%}"> <li class="selected">All</li> </a>
                {% endif %}

                {% if counselling_types %}
                    {% for counselling_type in counselling_types %}
                    <a style="color: inherit; text-decoration: none;" href="{% url 'counsellor:home' %}?category={{counselling_type.type}}">
                        <li {% if request.GET.category == counselling_type.type  %}
                            class="selected"
                            {% endif %}
                        > 
                            {{counselling_type.type|title}} 
                        </li>
                    </a>
                    {% endfor %}
                {% endif %}
            </ul>
        </div>
    </div>
   <div class="homepage-wrapper">
      <div class="homepage-container">
             <!-- counsellor cards -->

            {% if counsellors %}
                {% for counsellor_usr in counsellors %}
                <div class="profile-card">
                    <a href="{% url 'counsellor:counsellor_profile' counsellor_id=counsellor_usr.id %}" class="profile-card-wrap">
                        <div class="profile-image">
                            {% if counsellor_usr.profile %}
                                <img src="{{ counsellor_usr.profile.url }}" alt=" profile picture"/>
                            {% else %}
                                <img src="{% static 'images/lady.jpg' %}" alt=" profile picture"/>
                            {% endif %}
                        </div>

                        <div class="profile-detail-wrap">
                            <div class="profile-name"> 
                                {{counsellor_usr.title|title}}. {{counsellor_usr.get_full_name|title}}
                            </div>
                            <div class="profile-category-wrap">
                                <div class="profile-category">{{request.GET.category|title}} Counsellor</div>
                            </div>
                            <div class="profile-detail-wrap">
                                Issues about mariage is all my expertise.
                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}
            {% else %}
                <center class="profile-detail-wrap" style="margin-top:25px">
                    No counsellors added to database yet.
                </center>
            {% endif %}

        </div>
    </div>
</body>
{% endblock main_body %}
