{% extends 'base.html' %}
{% load static %}


{% block main_body %}
<body>
    <nav>
        <a href="{% url 'counsellor:index' %}" class="landing-page-logo"><img src="{% static 'favicon/logo.svg' %}" alt="UCC counsellor logo"/></a>
        <label for="toggle">
            &#9776;
        </label>
        <input type="checkbox" id="toggle">
        <ul class="menu">
            <li><a href="{% url 'counsellor:about' %}">About</a></li>
            <li><a href="{% url 'counsellor:confidential' %}">Terms & Conditions</a></li>
            <li><a href="{% url 'counsellor:support' %}">Support</a></li>
            <li><a href="{% url 'counsellor:logout' %}">Login</a></li>
            
        </ul>
    </nav> 
     
    <section class="landingpage-container">
            <section class="intro">
                <div class="intro-wrap">
                    <div class="intro-title">
                        Experience Counselling Services from the University of Cape Coast
                    </div>
                    <a  href="{% url 'counsellor:register_client' %}">
                        <button class="register">Register</button>
                    </a>
                </div>
                
            </section>
            <section class="goal">
                <div class="goal-wrap">
                    <div class="goal-title">
                        "We believe everyone needs a friend to talk to who has expert advice"
                    </div>
                </div>
            </section>    
            <!-- <section class="works">
                <div class="work-title">What we do</div>
                <div class="work">
                    <div class="work-detail">Every voter you add to your poll is given a unique voting key. No intruder can participate without a unique key. 
                    </div>
                </div>   
        </section>             -->
        <section class="services">
            <h1 class="services-title">Our Services</h1>
            <div class="services-wrap">
                <div class="services-image">
                    <img src="{% static 'images/depressed.jpg' %}" alt="mockup">
                </div>
                <div class="services-detail">
                    <div class="services-detail-wrap">
                        <div class="services-detail-title">
                            Expert consultations
                        </div>
                        <div class="services-detail-info">We consult on issues from marrigae to mental and academical issues. 
                            We have expert consultants who have dealt with lots of issues and had positive results.
                        </div>
                    </div>
                </div>
            </div>
            <div class="services-wrap reverse-card">
                <div class="services-image">
                    <img src="{% static 'images/doctor.jpg' %}" alt="mockup">
                </div>
                <div class="services-detail">
                    <div class="services-detail-wrap">
                        <div class="services-detail-title">
                            Expert consultations
                        </div>
                        <div class="services-detail-info">We consult on issues from marrigae to mental and academical issues. 
                            We have expert consultants who have dealt with lots of issues and had positive results.
                        </div>
                    </div>
                </div>
            </div>
            <div class="services-wrap">
                <div class="services-image">
                    <img src="{% static 'images/dude.jpg' %}" alt="mockup">
                </div>
                <div class="services-detail">
                    <div class="services-detail-wrap">
                        <div class="services-detail-title">
                            Expert consultations
                        </div>
                        <div class="services-detail-info">We consult on issues from marrigae to mental and academical issues. 
                            We have expert consultants who have dealt with lots of issues and had positive results.
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="features">
            <h1 class="features-title">How we do it</h1>
            <div class="features-flex">
                <div class="features-wrap">
                    <div class="features-image">
                        <img src="{% static 'favicon/category.svg' %}" alt="features mockup">
                    </div>  
                    <div class="features-detail">
                        <div class="features-detail-wrap">
                            <div class="features-detail-title">
                                Find types of counsellors
                            </div>
                            <div class="features-detail-info">Get featuress on Innovative research done by team members and random tech experts, and also know the tips and tricks they use in their daily works. 
                            </div>
                        </div>
                    </div>
                </div>
                <div class="features-wrap">
                    <div class="features-image">
                        <img src="{% static 'favicon/calendar.svg' %}" alt="features mockup">
                    </div>  
                    <div class="features-detail">
                        <div class="features-detail-wrap">
                            <div class="features-detail-title">
                                Book meetings
                            </div>
                            <div class="features-detail-info">Get featuress on Innovative research done by team members and random tech experts, and also know the tips and tricks they use in their daily works. 
                            </div>
                        </div>
                    </div>
                </div>
                <div class="features-wrap">
                    <div class="features-image">
                        <img src="{% static 'favicon/video.svg' %}" alt="features mockup">
                    </div>  
                    <div class="features-detail">
                        <div class="features-detail-wrap">
                            <div class="features-detail-title">
                                Video Calls
                            </div>
                            <div class="features-detail-info">Get featuress on Innovative research done by team members and random tech experts, and also know the tips and tricks they use in their daily works. 
                            </div>
                        </div>
                    </div>
                </div>
                <div class="features-wrap">
                    <div class="features-image">
                        <img src="{% static 'favicon/call.svg' %}" alt="features mockup">
                    </div>
                    <div class="features-detail">
                        <div class="features-detail-wrap">
                            <div class="features-detail-title">
                                Voice Calls
                            </div>
                            <div class="features-detail-info">Get featuress on Innovative research done by team members and random tech experts, and also know the tips and tricks they use in their daily works. 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- 
        <section class="agenda">
            <div class="agenda-wrap">
                <div class="agenda-title">
                    Simplicity is our ultimate goal
                </div>
            </div>
        </section>
        <section class="contact">
            <div class="contact-wrap">
                <div class="contact-title">Contact Us</div>
                <div class="contact-detail">Let us know what you think?<br/> we will get all your questions answered</div>
                <form class="contact-form">
                    <input type="name" placeholder="Enter your name"/>
                    <input type="email" placeholder="Enter your email"/>
                    <button>send</button>
                </form>
            </div>
        </section> -->
    </section>
    
    <footer>
        <ul class="footer-links">
            <li>
            <a href="{% url 'counsellor:about' %}">About</a></li>
            <li>
            <a href="{% url 'counsellor:conditions' %}">Terms & Conditions</a></li>
              <li>
            <a href="{% url 'counsellor:support' %}">Support</a></li>
        </ul> 
        <div class="footer-copyright">
            © University of Capecoast 2022
        </div>
    </footer>  
    
    <!--Moving word javascript links-->
</body>
{% endblock main_body %}