{% extends 'base.html' %}
{% load static %}


{% block main_body %}
<body>
    <nav>
        <div class="logo-wrap">
            <a href="{% url 'counsellor:index' %}" class="landing-page-logo"><img src="{% static 'images/logo.png' %}" alt="UCC counsellor logo"/></a>
            <div class="logo-title">UCC Counselling Service</div>
        </div>
        <label for="toggle">
            &#9776;
        </label>
        <input type="checkbox" id="toggle">
        <ul class="menu">
            <li><a href="{% url 'counsellor:about' %}">About</a></li>
            <li><a href="{% url 'counsellor:login_client' %}">Login</a></li>
        </ul>
    </nav> 
    
    <section class="landingpage-container">
            <section class="intro">
                <div class="intro-wrap">
                    <div class="intro-title">
                        University of Cape Coast Counselling Services
                    </div>
                    <a  href="{% url 'counsellor:register_client' %}">
                        <button class="register">Register</button>
                    </a>
                </div>
                
            </section>
            <section class="goal">
                <div class="goal-wrap">
                    <div class="goal-title">
                        "All students are unique and must have a stimulating educational environment where they can grow physically, mentally, emotionally, and socially."
                    </div>
                </div>
            </section>    
        <section class="services">
            <h1 class="services-title">About Us</h1>
            <div class="services-wrap reverse-card">
                <div class="services-image">
                    <img src="{% static 'images/doctor.jpg' %}" alt="mockup">
                </div>
                <div class="services-detail">
                    <div class="services-detail-wrap">
                        <div class="services-detail-title">
                            DEPARTMENT OF GUIDANCE AND COUNSELING
                        </div>
                        <div class="services-detail-info">We consult on all types of Academic Issues, from mental health to Career choices. 
                            We have expert consultants who have dealt with lots of issues and solved them with maximum performance.
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="features">
            <h1 class="features-title">Our Services</h1>
            <div class="features-flex">
                <div class="features-wrap">
                    <div class="features-image">
                        <img src="{% static 'favicon/category.svg' %}" alt="features mockup">
                    </div>  
                    <div class="features-detail">
                        <div class="features-detail-wrap">
                            <div class="features-detail-title">
                                Find types of counsellors
                            </div>
                            <div class="features-detail-info">Discover all counsellors for your specific problem need. There arfe expects ready to help you solve your problems.</div>
                        </div>
                    </div>
                </div>
                <div class="features-wrap">
                    <div class="features-image">
                        <img src="{% static 'favicon/calendar.svg' %}" alt="features mockup">
                    </div>  
                    <div class="features-detail">
                        <div class="features-detail-wrap">
                            <div class="features-detail-title">
                                Book meetings
                            </div>
                            <div class="features-detail-info">Book an appointment with counsellors to have a one on one talk about issues you need clarity on or solved.</div>
                        </div>
                    </div>
                </div>
                <div class="features-wrap">
                    <div class="features-image">
                        <img src="{% static 'favicon/video.svg' %}" alt="features mockup">
                    </div>  
                    <div class="features-detail">
                        <div class="features-detail-wrap">
                            <div class="features-detail-title">
                                Video Calls
                            </div>
                            <div class="features-detail-info">If you're geographically restricted to meet counsellors in person. You have the option to book a virtual meeting with a counsellor.</div>
                        </div>
                    </div>
                </div>
                <div class="features-wrap">
                    <div class="features-image">
                        <img src="{% static 'favicon/call.svg' %}" alt="features mockup">
                    </div>
                    <div class="features-detail">
                        <div class="features-detail-wrap">
                            <div class="features-detail-title">
                                Voice Calls
                            </div>
                            <div class="features-detail-info">You can also make calls with counsellors when ever you need their help. Depending on their availability times and schedules.</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- 
        <section class="agenda">
            <div class="agenda-wrap">
                <div class="agenda-title">
                    Simplicity is our ultimate goal
                </div>
            </div>
        </section>
        <section class="contact">
            <div class="contact-wrap">
                <div class="contact-title">Contact Us</div>
                <div class="contact-detail">Let us know what you think?<br/> we will get all your questions answered</div>
                <form class="contact-form">
                    <input type="name" placeholder="Enter your name"/>
                    <input type="email" placeholder="Enter your email"/>
                    <button>send</button>
                </form>
            </div>
        </section> -->
    </section>
    
    <footer>
        <ul class="footer-links">
            <li>
            <a href="{% url 'counsellor:about' %}">About</a></li>
            <li>
            <a href="{% url 'counsellor:conditions' %}">Terms & Conditions</a></li>
              <li>
            <a href="{% url 'counsellor:support' %}">Support</a></li>
        </ul> 
        <div class="footer-copyright">
            © UCC, Department of Computer Science and IT 2022
        </div>
    </footer>  
    
    <!--Moving word javascript links-->
</body>
{% endblock main_body %}