{% extends 'base.html' %}
{% load static %}

{% block custom_styles %}
<link rel="stylesheet" href="{% static 'css/signup.css' %}">
{% endblock custom_styles %}

{% block main_body %}
<body>
    <div class="wrapper"> 
        <div class="container">
                <div class="sub-header">Sign Up</div>

                <form method="POST" action="{% url 'counsellor:register_client' %}">
                    {% csrf_token %}
                    <div class="layout">
                        <input required name="first_name"type="text" placeholder="First Name"/>
                    </div>

                    <div class="layout">
                        <input required name="last_name" type="text" placeholder="Last Name"/>
                    </div>
                    
                    <div class="layout">
                        <input required name="email" type="email" placeholder="Student Email"/>
                    </div>

                    <div class="layout">
                        <input required name="phone" type="phone" placeholder="Cell Phone"/>
                    </div>


                    <div class="layout">
                        <input required name="password" type="password" placeholder="Password"/>
                    </div>

                    <div class="layout">
                        <input required name="confirm_password" type="password" placeholder="Confirm Password"/>
                    </div>

                    <button class="submit-form">Sign Up</button>
                    
                    <div class="redirect">
                        <div> Already have an account?<a href="{% url 'counsellor:login_client' %}">Login</a></div>
                    </div>
            </form>
        </div>
    </div>

    
    {% if error %}
        {% include 'includes/alert.html' %}
    {% endif %}
</body>
{% endblock main_body %}
