{% extends 'base.html' %}
{% load static %}

{% block custom_styles %}
<link rel="stylesheet" href="{% static 'css/signup.css' %}">
{% endblock custom_styles %}

{% block main_body %}
<body>
    <div class="wrapper"> 
        <div class="container">
                <div class="sub-header">Sign Up</div>

                <form method="POST" action="{% url 'counsellor:register_client' %}">
                    {% csrf_token %}
                    <div class="layout">
                        <input required name="first_name"type="text" placeholder="First Name"/>
                    </div>

                    <div class="layout">
                        <input required name="last_name" type="text" placeholder="Last Name"/>
                    </div>
                    
                    <div class="layout">
                        <input required name="email" type="email" placeholder="Student Email"/>
                    </div>

                    <div class="layout">
                        <input required name="phone" type="phone" placeholder="Cell Phone"/>
                    </div>

                    <div class="layout">
                        <input required name="pssword" type="password" placeholder="Password"/>
                    </div>

                    <button class="submit-form">Sign Up</button>
                    
                    <div class="redirect">
                        <div> Already have an account?<a href="{% url 'counsellor:login_client' %}">Login</a></div>
                    </div>
            </form>
        </div>
    </div>

    
    <!-- Error message pop up. The styling can be found in the global CSS -->
    <div class="error-card-container">
        <div class="error-card">
            <img src="../static/favicon/error.svg" alt="upload Icon">             
            <div class="error-card-message">This is an error message</div>
        </div>
    </div>
</body>
{% endblock main_body %}
